<h1 class="text-center mb-3">{{title}}</h1>

<form action="/api/members" method="POST" class="mb-4">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" />
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input type="text" class="form-control" name="body" />
    </div>

    <input type="submit" value="Add Member" class="btn btn-primary btn-block col-12 mt-4"/>
</form>

<h4>List of Members:</h4>

<ul class="list-group">
    {{#each members}}
    <li class="list-group-item">{{this.id}}: {{this.title}} : {{this.body}}</li>
    {{/each}}
</ul>